@font-face {
    font-family: 'Kabel LT Std';
    src: url('KabelLTStd-Heavy.woff2') format('woff2'),
        url('KabelLTStd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kabel LT Std';
    src: url('KabelLTStd-Light.woff2') format('woff2'),
        url('KabelLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kabel LT Std';
    src: url('KabelLTStd-Book.woff2') format('woff2'),
        url('KabelLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kabel LT Std';
    src: url('KabelLTStd-Black.woff2') format('woff2'),
        url('KabelLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus Std';
    src: url('BauhausStd-Light.woff2') format('woff2'),
        url('BauhausStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus Std';
    src: url('BauhausStd-Demi.woff2') format('woff2'),
        url('BauhausStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus Std';
    src: url('BauhausStd-Bold.woff2') format('woff2'),
        url('BauhausStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus Std';
    src: url('BauhausStd-Heavy.woff2') format('woff2'),
        url('BauhausStd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus Std';
    src: url('BauhausStd-Medium.woff2') format('woff2'),
        url('BauhausStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

